.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

/* .form-budget-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
} */

.container {
  width: 100%;
  display: flex;
}

.income-expense-container {
  display: flex;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


